<h2>Displaying all posts on the system:</h3>



  <% @posts.each do |post| %>
    <ul>
      <li><strong><%= post.title %></strong></li>
      <li><%= post.url %></li>
      <li><%= post.user_id %></li>
    </ul>
  <% end %>
